@use "../../variables" as *;
.card {
  .title {
    position: absolute;
    margin: 0;
    margin-left: 6px;
    font-size: $fontsize-l;
    font-weight: 700;
    line-height: 29px;
    color: $orange_bistre;
    z-index: 2;
  }
  .img-wrapper {
    margin: 0;
    overflow: hidden;
  }
  .card-img {
    transition: 0.5s ease;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .card-img:hover {
    transform: scale(1.2);
    @media screen and (max-width: $breakpoint-md) {
      transform: none;
    }
  }
  .card-triangle {
    position: absolute;
    border-style: solid;
    border-width: 150px 150px 0 0;
    border-color: $white transparent transparent transparent;
  }
  .card-body {
    position: relative;
    padding: 32px;
    background-color: $white_smoke;
  }
  .card-text {
    font-size: $fontsize-s;
    line-height: 2.4;
    margin-bottom: 30px;
  }
  .module {
    display: flex;
    justify-content: center;
  }
}
