<div class="news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <ul class="news-box">
    <li>
      <a href="#">
        <article class="box-list">
          <time datetime="2018-06-20" class="box-list-date">2018.06.20</time>
          <h6>
            ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
          </h6>
        </article>
      </a>
    </li>
    <li>
      <a href="#">
        <article class="box-list">
          <time datetime="2018-06-18" class="box-list-date">2018.06.18</time>
          <h6>3種のレイアウトから選択できるテンプレートを固定ページに実装</h6>
        </article></a
      >
    </li>

    <li>
      <a href="#">
        <article class="box-list">
          <time datetime="2018-06-12" class="box-list-date">2018.06.12</time>
          <h6>利用者からのご質問をまとめた「FAQ」ページをアップしました。</h6>
        </article>
      </a>
    </li>

    <li>
      <a href="#">
        <article class="box-list">
          <time datetime="2018-06-08" class="box-list-date">2018.06.08</time>
          <h6>
            デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
          </h6>
        </article></a
      >
    </li>

    <li>
      <a href="#">
        <article class="box-list">
          <time datetime="2018-05-26" class="box-list-date">2018.05.26</time>
          <h6>テーマのアップデート情報について</h6>
        </article>
      </a>
    </li>
  </ul>
  <div class="news-list-text">
    <a href="#" class="news-and-events-more"
      >お知らせ一覧<i class="fas fa-chevron-right"></i
    ></a>
  </div>
</div>
