@use "../../variables" as *;
.footer {
  .contact {
    padding: 52px 20px;
    @media screen and (max-width: $breakpoint-md) {
      padding: 32px 20px;
    }
  }
  .footer-img {
    display: flex;
    justify-content: center;
    height: 27px;
  }
  .message {
    padding: 20px;
    .small {
      text-align: center;
    }
  }
  .icon-list {
    display: flex;
    justify-content: center;
    gap: 14px;
  }
  .icon-list i:hover {
    color: $gray_nobel;
  }
  .footer-menu {
    display: flex;
    gap: 8px;
    padding: 16px;
    justify-content: center;
    background-color: $white_smoke;
    border-top: 1px solid $gray_nobel;
    .menu {
      text-decoration: none;
      color: $black;
    }
    .menu:not(:last-child)::after {
      content: "|";
      margin-left: 10px;

      @media screen and (max-width: $breakpoint-md) {
        content: none;
      }
    }
    .menu:hover {
      color: $orange_bistre;
    }
  }
  @media screen and (max-width: $breakpoint-md) {
    .footer-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      flex-direction: column;
    }
  }

  .footer-end {
    color: $white;
    background-color: $black;
    padding: 16px;
    text-align: center;
  }
}
