<div class="footer">
  <div class="contact">
    <div class="footer-img">
      <img src="../../../img/footer.png" />
    </div>
    <div class="message">
      <div class="message-inner">
        <p class="small">
          〒532-0011　大阪市淀川区西中島６丁目8-23テスト <br />TEL.06-1234-5678
          FAX.06-1234-5678　営業時間/9:00 - 22:00　定休日/不定休
        </p>
      </div>
    </div>
    <div class="icon-list">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-solid fa-rss"></i>
    </div>
  </div>
  <div class="footer-menu">
    <a href="#" class="menu">HOME</a>
    <a href="#" class="menu">CONCEPT</a>
    <a href="#" class="menu">SERVICE</a>
    <a href="#" class="menu">FLOOR</a>
    <a href="#" class="menu">INTERVIEW</a>
    <a href="#" class="menu">BLOG</a>
    <a href="#" class="menu">ACCESS</a>
    <a href="#" class="menu">DOWNLOAD</a>
  </div>

  <div class="footer-end">
    <small
      >Copyright©WordPressテーマ「Switch(tcd063)」All Rights Reserved.</small
    >
  </div>
</div>
