@use "../../variables" as *;
.plans {
  .message{
    padding-top: 0px;
  }
  .message .message-title {
    text-align: center;
    color: $orange_bistre;
  }
  .message .small {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .plan-lists {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      gap: 0px;
      margin-bottom: 0px;
    }
  }
  .module {
    display: flex;
    justify-content: center;
  }
}
