<div class="about">
  <div class="img-wrapper container">
    <div class="about-img row">
      <img src="../../../img/about-1.jpg" class="col-6 col-lg-3" />
      <img src="../../../img/about-2.jpg" class="col-6 col-lg-3" />
      <img src="../../../img/about-3.jpg" class="col-6 col-lg-3" />
      <img src="../../../img/about-4.jpg" class="col-6 col-lg-3" />
    </div>
  </div>
  <div class="about-text">
    <div class="message">
      <div class="message-inner">
        <p class="message-title">人と人、人と本が繋がる全く新しい快適時間。</p>
        <p class="small">
          月間プラン以外にビジター料金でのご利用も可能です。通いやすい時間や曜日に合わせてプランをお選びください。
          <br />ご登録プランはほかの変更も可能ですので、資格試験の目標があるなど環境の変化に合わせて柔軟に対応しております。WiFiも電源も標準設備しており、
          <br />時間を気にせず仕事や勉強に取り組めます。カフェでの長居は気が引けるという方にも心置きなくご利用いただけます。
        </p>
      </div>
    </div>
  </div>
</div>
