@use "../../variables" as *;
.news-and-events {
  padding: 56px 0px;
  background-color: $white_smoke;

  .news {
    margin-bottom: 35px;
    .news-box {
      background-color: $white;
    }
    .box-list {
      padding: 20px;
    }
    .box-list h6 {
      margin-bottom: 0px;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    display: flex;
    justify-content: space-between;

    .news {
      width: 47%;
    }

    .events {
      width: 47%;
      .event-list .event-card > a .event-caption > h3 {
        white-space: wrap;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

      }
    }
  }
}
